name: deploy-qa
on:
 workflow_dispatch:

jobs:    
  deploy-qa:
   runs-on: ubuntu-latest
   if: |
    (github.event_name == 'workflow_dispatch' &&
      (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop')
     )
   steps:
    - name: Deploy QA
      run: |
       echo "Deploying to QA env."
       sleep 5
       echo "Deploying to QA env. done"

 

